#geral{
	left: 50%;
	margin-left: -475px;
	width: 950px;
	border: 2px solid;
	padding: 10px;
	background-color: #f1f1f1;
	box-shadow: 10px 10px 20px #000000;
	border-radius: 10px;
	position: absolute;
}
#imagemlogo{
	margin-top: 15px;
	border: solid;
	float: left;
	margin-left: 40px;
	position: relative;
}
header#cabecalho{
	margin-top: 15px;
	width: 750px;
	border-bottom: 2px #000000 solid;
	border-top: 2px #000000 solid;
	height: 35px;
	margin-left: 170px;
}
#imgtxt{
	width: 750px;
	height: 65px;
	margin-top:5px;
	position: relative;
}
#registro{
	margin-top: -30px;
	float: right;
}
#entrasaicadados{
	width: 160px;
	margin-top: -75px;
	position: relative;
	float: right;
	text-align: right;
}
#delegaciacadados{
	width: 250px;
	margin-left: 350px;
	float: left;
	position: relative;
	margin-top: -35px;
}
#cadastrar{
	display: block;
	width: 840px;
	height: 360px;
	border: solid 1px;
	margin: 115px auto;
	position:relative;
	padding: 10px 10px 10px 10px;
	border-radius: 8px;
}
#dadopescadados{
	width: 190px;
	background-color: #666666;
	color: #ffffff;
	font-weight: bold;
	margin-left: 30px;
	text-align: center;
	border: solid #000000;
	float: left;
	margin-top: -25px;
}
#nomecadados{
	background-color: #f1f1f1;
	margin-top: 5px;
	margin-left: -220px;
	line-height: 0;	
	float: left;
	position: relative;
}
#apelidocadados{
	background-color: #f1f1f1;
	margin-top: 5px;
	float: left;
	margin-left: 10px;
	line-height: 0;	
	position: relative;
}
#datacadados{
	background-color: #f1f1f1;
	margin-top: 5px;
	float: left;
	margin-left: 10px;
	line-height: 0;	
	position: relative;
}   
#municadados{
	background-color: #f1f1f1;
	margin-top: 5px;
	float: right;
	margin-left: 10px;
	line-height: 0;	
	position: relative;
} 
#estadocadados{
	background-color: #f1f1f1;
	margin-top: 20px;
	float: left;
	line-height: 0;	
	position: relative;

}
#maecadados{
	background-color: #f1f1f1;
	margin-top: 20px;
	float: left;
	margin-left: 10px;
	line-height: 0;	
	position: relative;
}
#paicadados{
	background-color: #f1f1f1;
	margin-top: 20px;
	float: left;
	margin-left: 10px;
	line-height: 0;	
	position: relative;
}
#residcadados{
	background-color: #f1f1f1;
	float: right;
	margin-left: 10px;
	line-height: 0;	
	position: relative;
}	
#civgeral{
	float: left; 
	text-align: center;
	position: relative;
}
#esivilcadados{
	width: 430px;
	height: 30px;
	position: relative;
	float: left; 
	border: solid 1px;
	text-align: center;
	line-height: 30px;	
}
#civilabel{
	width: 90px;
	position: relative;
}
#conjugecadados{
	background-color: #f1f1f1;
	line-height: 0;	
	float: left;
	margin-left: 10px;
	position: relative;
	padding-top: 10px;
}
#filhocadados{
	background-color: #f1f1f1;
	margin-top: 10px;
	float: left;
	margin-left: 10px;
	line-height: 0;	
	position: relative;
}
#cpfcadados{
	background-color: #f1f1f1;
	line-height: 0;
	padding-top: 10px;
	float: left;
	position: relative;
}
#iguaiscadados{
	background-color: #f1f1f1;
	line-height: 0;
	margin-left: 10px;
	padding-top: 10px;
	float: left;
	position: relative;
}
#iguais2{
	background-color: #f1f1f1;
	line-height: 0;
	float: left;
	position: relative;
	margin-left: 10px;
	margin-top: 10px;
}
#carteiracadados{
	background-color: #f1f1f1;
	line-height: 0;
	padding-top: 10px;
	float: left;
	position: relative;
}

#resevistacadados{
	background-color: #f1f1f1;
	line-height: 0;
	padding-top: 10px;
	float: left;
	position: relative;
	margin-left: 10px
}
#identcadados{
	height: 45px;
	background-color: #f1f1f1;
	line-height: 0;
	padding-top: 10px;
	float: left;	
}
#expeditorcadados{
	height: 45px;
	background-color: #f1f1f1;
	line-height: 0;
	padding-left: 10px;
	padding-top: 10px;
	float: left;	
}
#titulocadados{
	height: 45px;
	background-color: #f1f1f1;
	line-height: 0;
	padding-left: 10px;
	padding-top: 10px;
	float: left;	
}
#zonacadados{
	height: 45px;
	background-color: #f1f1f1;
	line-height: 0;
	padding-left: 10px;
	padding-top: 10px;
	float: left;	
}
#secaocadados{
	height: 45px;
	background-color: #f1f1f1;
	line-height: 0;
	padding-left: 10px;
	padding-top: 10px;
	float: left;	
}
#graucadados{
	width: 840px;
	margin: -85px auto;
	position:relative;
	padding: 10px 10px 10px 10px;
	border: solid 1px;
	border-radius: 8px;
	text-align: center;
}
#escolaridadecadados{
	width: 180px;
	background-color: #666666;
	color: #ffffff;
	font-weight: bold;
	margin-top: -25px;
	margin-left: 30px;
	text-align: center;
	border: solid #000000;
	display: block;
	border-radius: 6px;
}
#profissaocadados{
	width: 850px;
	margin: 110px auto;
	border: solid 1px;
	height: 150px;
}
#proficadados{
	width:200px;
	margin-top: -15px;
	background-color: #666666;
	color: #ffffff;
	font-weight: bold;
	margin-left: 30px;
	text-align: center;
	border: solid #000000;
}
#proflabel{
	position: relative;
	text-align: center;
	float: left;
	margin-top: 20px;
	line-height: 40px;
}
#pro{
	width: 135px;
	height: 70px;
	float: left;
	text-align: left;
}
#foto{
	width: 100px;
	height: 95px;
	border: solid;
	position: relative;
	float: left;
	left: 35px;
	top:-85px;
}
#depende{
	top:-85px;
	width: 725px;
	height: 95px;
	border: solid 1px;
	position: relative;
	margin-left: 65px;
	float: left;
}
#dependecadados{
	top: -12px;
	position: relative;
	background-color: #666666;
	color: #ffffff;
	font-weight: bold;
	left: 70px;
	text-align: center;
	border: solid #000000;
}