body{
	font: 300 16px;
}
#login{
	top:50%;
	margin-top: -170px;
	left:50%;
	margin-left: -150px;
	text-align: center;
	width: 300px;
	position: absolute;
	border: 3px solid black;
	padding: 10px;
	background-color: 
}
#mailsenha{
	margin-right: 200px;
}
.txt{
	border:none;
	width: 250px;
	height: 40px;
	border: thin solid black;
	margin-top: 10px;
}
.txt:focus{
	border:thin solid #f1f1f1;
	box-shadow: 0 2px 16px #09f;
}
.sb{
	position: relative;
	display: block;
	width: 250px;
	height: 40px;
	margin: 10px auto;
	border: solid 1px;
	margin-top: 2px;
}
.sb:hover{
	background: #09f;
	box-shadow: 0 2px 16px #09f;
}
.bradius{
	border-radius: 10px;
}
.txt,.txt:focus,.sb,.sb,:hover {
	transition: all 0.5s linear;
}



