.window{
  margin-top: -1000px;
  margin-left: -1170px;
  display:none;
  width:900px;
  height:500px;
  position:absolute;
  background:#FFF;
  z-index:9900;
  padding:10px;
  border-radius:10px;
  border: solid;
  
}

#mascara{
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}

.fechar{display:block; text-align:right;}
